html {
  background-color:rgba(239, 159, 178, 0.647);
  padding: 20px;
}

nav, a{
  color: rgb(110, 61, 74);
  float: right;
  justify-content: space-between;
  margin-right: 1rem; /* Space Between Items */

}


/* contact */





